<ion-header translucent>
  <ion-toolbar color = "tertiary">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color = "dark">
  <ion-searchbar placeholder="Buscar pokemons" color="medium"></ion-searchbar>

    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="success">001</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Bulbasaur</h2>
            <ion-badge color="planta">Grass</ion-badge>
            <ion-badge color="tertiary">Poison</ion-badge>
          </div>
        </ion-label>
        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
        </ion-thumbnail>

      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>



    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="success">002</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Ivysaur</h2>
            <ion-badge color="planta">Grass</ion-badge>
            <ion-badge color="tertiary">Poison</ion-badge>
          </div>
        </ion-label>
        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/002.png">
        </ion-thumbnail>


      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>




  
    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="danger">003</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Charmander</h2>
            <ion-badge color="danger">Fire</ion-badge>
          </div>
        </ion-label>
        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
        </ion-thumbnail>


      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>






    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="danger">004</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Charmeleon</h2>
            <ion-badge color="danger">Fire</ion-badge>
          </div>
        </ion-label>
        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/005.png">
        </ion-thumbnail>


      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>







    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="primary">005</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Squirtle</h2>
            <ion-badge color="primary">Water</ion-badge>
          </div>
        </ion-label>
        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
        </ion-thumbnail>


      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>





    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="primary">006</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Wartortle</h2>
            <ion-badge color="primary">Water</ion-badge>
          </div>
        </ion-label>
        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/008.png">
        </ion-thumbnail>


      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>





    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="warning">007</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Pikachu</h2>
            <ion-badge color="warning">Eletric</ion-badge>
          </div>
        </ion-label>
        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
        </ion-thumbnail>


      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>






    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="warning">008</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Raichu</h2>
            <ion-badge color="warning">Eletric</ion-badge>
          </div>
        </ion-label>
        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/026.png">
        </ion-thumbnail>


      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>





    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="medium">009</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Rattata</h2>
            <ion-badge color="medium">Normal</ion-badge>
          </div>
        </ion-label>
        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/019.png">
        </ion-thumbnail>


      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>






    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="medium">0010</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Raticate</h2>
            <ion-badge color="medium">Normal</ion-badge>
          </div>
        </ion-label>
        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/020.png">
        </ion-thumbnail>


      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>





    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="fada">0011</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Clefairy</h2>
            <ion-badge color="fada">Fairy</ion-badge>
          </div>
        </ion-label>
        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/035.png">
        </ion-thumbnail>


      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>




    <ion-item-sliding>
      <ion-item color="dark">

        <ion-chip slot="start">
          <ion-label color="fada">0012</ion-label>
        </ion-chip>

        <ion-label>
          <div>
            <h2>Clefable</h2>
            <ion-badge color="fada">Fairy</ion-badge>
          </div>
        </ion-label>
        <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/036.png">
        </ion-thumbnail>


      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
</ion-content>
